/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar {
  background-color: #ffffff;	
  line-height: 90px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  padding: 0.5rem 1rem;
  
}

.navbar a {
  block-size: 90px;
  font-weight: bolder;
  position: center;
  float: left;
  color: #336600;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  color: #225500;;
}

/*CSS for the link 'buttons' NOT USED

a.linkButton { 
  background-color: #336600;
  font-weight: bolder;
  position: center;
  float: left;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  box-sizing: content-box;
}
*/
/*Footer CSS*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #ffffff;
}

.footer a {
  font-weight: bolder;
  position: center;
  float: left;
  display: block;
  color: #336600;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.footer a:hover {
  color: #225500;;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 25px 0px 0;
}
/*
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

*/
